html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 1200px;
     
}

#logo h1{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:50px;
    color: blueviolet;
    font-weight: 700;
    font-size: 20px;
    
}

#menu #content {
    float: left;
    box-sizing: border-box;
    width: 800px;
    padding: 50px;
}

#menu {
    float: left;
}


